body{
    background-color: #b9b8b8;
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conteiner{
    display: grid;
    gap:6vh ;
    grid-template-areas: 'header header header'
                         'sidebar content content'
                         'footer footer footer'
                         'block1 block2 block3'
                         'block4 block5 block6'
}

#header{
    background-color: #ECD931;
    grid-area: header;
    height: 15vh;
    border: 0px;

}

#sidebar{
    grid-area: sidebar;
    height: 40vh;
    margin-left:10%;
    border-radius: 20px;
}

#content{
    grid-area: content;
    height: 40vh;
    margin-right: 10%;
    border-radius: 20px;
}

#footer{
    grid-area: footer;
    height: 40vh;
}

#footer p{
    position: absolute;
    font-size: 25px;
    color: red;
    top: 70%;
}

#block1:hover , #block2:hover , #block3:hover,#block4:hover,#block5:hover,#block6:hover,#sidebar:hover,#content:hover{
    transform: scale(1.02,1.02);
}

#block1{
    grid-area: block1;
    height: 40vh;
    border-radius: 20px;
    margin-left: 10%;

}

#block2{
    grid-area: block2;
    height: 40vh;
    border-radius: 20px;
    
}

#block3{
    grid-area: block3;
    border-radius: 20px;
    margin-right: 10%;
}

#block4{
    grid-area: block4;
    height: 40vh;
    border-radius: 20px;
    margin-left: 10%;
}

#block5{
    grid-area: block5;
    height: 40vh;
    border-radius: 20px;
}

#block6{
    grid-area: block6;
    height: 40vh;
    border-radius: 20px;
    margin-right: 10%;
}

.conteiner div{
    display: inline;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

#busca{
    border: 0px;
    position: absolute;
    left: 30%;
    bottom: 90%;
    width: 60vh;
    height: 5vh;
}

#carrinho{
    position:absolute;
    left: 24%;
    top: 2%;
    transform: rotate(-20deg);
    
}

#notificaçoes{
    position: absolute;
    color: black;
    font-size: 20px;
    right: 15%;
    top: 14%;
}

#listacompras{
    position: absolute;
    color: black;
    font-size: 20px;
    top: 14%;
    right: 45%;
}

#filtro{
    position: absolute;
    display: inline;
    color: black;
    font-size: 20px;
    top: 14%;
    left: 15%;
    border: 0px;
    background-color: #ECD931;
    text-decoration: underline;
}

.categorias{
    position: relative;
    left: 10%;
    display: grid;
    grid-template-columns:15% 15% 15% 15% ;
    grid-template-areas:'garrafa carne pao papel';
    bottom: 67vw;
    gap: 7%;
}

.categorias img {
    display: inline;
    background-color: #ECD931;
    padding: 10px;
    border-radius: 100%;
}

.categorias img:hover{
    transform: scale(1.02,1.02);
}
#garrafa{
    grid-area: garrafa;
}

#carne{
    grid-area: carne;
}

#pao{
    grid-area: pao;
}

#papel{
    grid-area: papel;
}

#texto{
    position: absolute;
    color: red;
    font-size: 20px;
    top: 16%;
    left: 37%;
}    

.titulos{
    position: relative;
    display: grid;
    grid-template-columns:;
    grid-template-areas: 'bebidas açougue padaria higiene';
    gap: 100%;
    bottom: 5vh;
    left: 15%;
    font-size: 25px;
}

#bebidas{
    grid-area: bebidas;
}

#açougue{
    grid-area: açougue;
}

#padaria{
    grid-area: padaria;
}

#higiene{
    grid-area:higiene ;
}