body{
    background-image:linear-gradient(rgb(238, 255, 0),rgb(0, 255, 34)) ;
    background-size:cover;
    color: brown;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h1{
    text-decoration: underline; color: blueviolet;
    font-size: 49px;
    text-align: center
}

img { display: block; margin: 0 auto;}

#texto{
    background-color: blue;
    font-size: 15px;
    font-style: italic;
    color: antiquewhite;
}

#marca{
    color: rgb(255, 0, 200);
}

#supino{
    height: 500px;
    width: 600px;
}

#filtro{
    padding-left: 1000px;
    text-align: center;
}