body{
    background-color: #BCBCBC;
    margin: 0px;
    padding: 0px;
}


.conteiner{
    display: grid;
    gap:5vh ;
    grid-template-areas: 'header header header'
                         'sidebar content content'
                         'footer footer footer'
}

#header{
    background-color: #ECD931;
    grid-area: header;
    height: 15vh;
    border: 0px;

}

#sidebar{
    grid-area: sidebar;
    height: 40vh;
    margin-left:10%;
}

#sidebar:hover{
    transform: scale(1.02,1.02);
}

#content{
    grid-area: content;
    height: 40vh;
    margin-right: 10%;
}

#content:hover{
    transform: scale(1.02,1.02);
}

#footer{
    grid-area: footer;
    height: 40vh;
}

.conteiner div{
    display: inline;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

#busca{
    border: 0px;
    position: absolute;
    left: 30%;
    bottom: 90%;
    width: 60vh;
    height: 5vh;
}

#notificaçoes{
    position: absolute;
    color: black;
    font-size: 20px;
    right: 15%;
    top: 14%;
}

#listacompras{
    position: absolute;
    color: black;
    font-size: 20px;
    top: 14%;
    right: 50%;
}