body, html{
   height: 100%;
   display: flex;
   font-family:Inter;
   margin:0px
 }
 p{
   position: absolute;
   font-weight:600;
 }

#acessarConta{
   top: 15%;   
 }

#email{
   top: 20%;
}

#inputEmail{
   position: absolute;
   top: 25%;
}

#senha{
   top: 30%;
}

#inputSenha{
   position: absolute;
   top: 35%;
}

#tpUsuario{
   position: absolute;
   top: 45%;
}

#cxcliente{
   position: absolute;
   top: 54.3%;
   left: 41.5%;
}

#txCliente{
   top: 52%;
   left:43%;
}

#cxmercado{
   position: absolute;
   top: 54.3%;
   right:50%;
}

#txMercado{
   top: 52%;
   right:45%;
}

h1{
   position: absolute;
   top: 5%;
   font-size: 40px;
   font-weight:900
 }

img {
   width: 100%;
   height: 100%;
}

.conteudo {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}

.mid {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 650px;
   height: 100%;
   background: #EEC534;
}
button{
   margin-right: 15px;
   background: transparent;
   border-radius: 15px;
   border: 3px solid;
   padding: 15px;
   font-weight:900;
   background: #EEC534;

}
.buttons{
   position:relative;
   display: flex;
   top: 9vh;
}

input{
   border: none;
   padding: 15px 40px; 
}
.input-padrao{
   min-width: 15px;
   min-height: 15px;
}
label {
   position: absolute;
   top: 42%;
   right: 42%;
   font-size: 12px;
}

button:hover {
   background: #f3d35e;
}